body{
    background-color: rgb(203, 209, 209);
    margin: 1px;
} 

p{
    color: black;
    font-size: 18px;
}

h1{
    color: black;
    text-align: center;

}

nav{
    background-color: blanchedalmond;
    height: 20px;
    text-align: left;
}
h2{
    color: black;
    padding: 0px;
    /* text-align: center; */
    /* border-bottom: 5px solid ; */
}

h3{
    color: black

}

.purple-text{
    color: rgb(35, 116, 33);
}

.underlined-text{
    text-decoration: underline;
}

#info-section{
    color: rgb(51, 51, 53);
    font-size: 20px;
    background-color: rgb(170, 193, 211);
}

.content {
    background-color: rgb(74, 59, 69);
    min-height: 598vh;
    width: 250%;
    margin: 0 auto;
    width: 900px;
    height: 80px;
    padding: 10px;
    border: 20px rgb(63, 47, 63) solid;
    box-shadow: 2px 2px 8px black;
}

a{
    color: black;
    margin-left: 2%;
}

nav a:hover{
    color: rgb(188, 19, 171);
    margin-left: 15%;
}


h1{
    display: block;
    font-size: 2cm;
    margin-block-start: 0.67cm;
    margin-block-end: 0.67cm;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.gold-text{
    color: gold;
}

.silver-text{
    color: silver;
}

.bronze-text{
    color: #cd7f32;
}